
.choice-row {
  display: flex;
}

.firstContent {
  margin-left: 20px;
  margin-left: -500px;
  margin-top: 50px;
}

.first {
  display: flex;
  width: 50%;
}

.toolbar {
  display: flex;
  width: 50%;
}

.app {
  display: flex;
  flex-direction: row;
}

.shirt-color {
height: 60px;
width: 60px;
border-radius: 10px;
margin: 0px 10px 10px 0px;
border: 1px solid black;
}

.logo1-color {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin: 0px 10px 10px 0px;
  border: 1px solid black;
  }

  .logo2-color {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px 10px 10px 0px;
    }

    .toolbar-content {
      margin-top: 100px;
      margin-left: 70px;
    }
