
.choice-row {
  display: flex;
}

.firstContent {
  margin-left: 20px;
  margin-left: -900px;
  margin-top: 150px;
}

.first {
  display: flex;
  width: 50%;
}

.toolbar {
  display: flex;
  width: 50%;
}

.app {
  display: flex;
  flex-direction: row;
}

.shirt-color {
height: 60px;
width: 60px;
border-radius: 10px;
margin: 0px 10px 10px 0px;
border: 1px solid black;
}

.logo1-color {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin: 0px 10px 10px 0px;
  border: 1px solid black;
  }

  .logo2-color {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px 10px 10px 0px;
    }

    .user-choice {
      height: 60px;
      width: 60px;
      background: pink;
      border-radius: 10px;
      border: 1px solid black;
      margin: 0px 10px 10px 0px;
      }

      .logo-choice {
        height: 60px;
        width: 60px;
        background: #e3f2fd;
        border-radius: 10px;
        border: 1px solid black;
        margin: 0px 10px 10px 0px;
        }

    .toolbar-content {
      margin-top: 100px;
      margin-left: 70px;
    }

    .new-item-row{
      display: flex;
    
    }

    .new-item-col {
      width: 300px;
    }

 
    input[type='text']{
      width: 200px;
      height: 20px;
      margin-bottom: 10px;
    }

    input[type='number']{
      width: 200px;
      height: 20px;
      margin-bottom: 10px;
    }

    .newFormItem {
  width: 300px;
  display: flex;

    }
  

    .newFormText{

       width: 80px;
    }


    .newLogoText{
      width: 100px;
   }