.toolbar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.test-icon > .material-icons {
  font-size: 100px;
}

.toolbarContent {
  margin-left: 20px;
}

.firstContent {
  margin-left: 20px;
}

.first {
  border: 1px solid black;
  display: flex;
  width: 60%;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: row;
}